
.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:darkseagreen;
    
}
.clock {
    background-image: url(..//image/clockface.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    background-color: white;
}
.mainClock {
    width: 500px;
    height: 500px;
    position: relative;
    border: 5px solid black;
    z-index: 0;
}
.btn {
    font-family: monospace;
    background-color: yellow;
    font-size: 30px;
    outline-style: none;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
}
.arrow {
    height: 46%;
    width: 1%;
    background-color: orangered;
    z-index: 1;
    position: absolute;
    transform: translate(-50%,-100%);
    transform-origin: center bottom;
    left: 50%;
    top: 50%;
}
.miliSecClock {
    width: 70px;
    height: 70px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 65%;
    top: 65%;
    border: 2px solid black;
    z-index: -1;
}